{% load static %}

<div class="section-padding wow fadeInUp ico-area">
         <div class="container">
            {% comment %} <div class="space-20"></div> {% endcomment %}
            <div class="row">
                <div class="col-6 col-lg-3">
                    <div class="single-ico">
                        <h1><b class="fa fa-dollar"></b>150M+</h1>
                        <h5>Cryptocurrency Exchanged</h5>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="single-ico">
                        <h1>10M <b class="fa fa-user-plus"></b></h1>
                        <h5>Customers Served</h5>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="single-ico">
                       <div class="row">
                           <div class="col">
                               <span id="days"></span>
                               <h5>days</h5>
                           </div>
                           <div class="col">
                               <span id="hours"></span>
                               <h5>hours</h5>
                           </div>
                           <div class="col">
                               <span id="minutes"></span>
                                <h5>minutes</h5>
                           </div>
                           <div class="col">
                               <span id="seconds"></span>
                               <h5>seconds</h5>
                           </div>
                       </div>
                    </div>
                </div>
            </div>
            {% comment %} <div class="row">
                <div class="col-12">
                    <div class="custom-progressBar">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80"
                            aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                <div class="progress-details">
                                    <p>$ 38 M</p>
                                    <div class="progress-d-top"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="single-cup">
                                <p>Soft Cap</p>
                            </div>
                        </div>
                        <div class="col-6 text-right">
                            <div class="single-cup right">
                                <p>max Cap</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <a href="#" class="gradient-btn v2">Buy Tokens</a>
                </div>
            </div> {% endcomment %}
        </div>
    </div>