{% load static %}

<div class="space-60"></div>
<div class="faq-area wow fadeInUp v2" id="faq">
    <div class="container">
            <div class="row">
            <div class="col-12 text-center">
            <div class="heading">
                <h5>faq</h5>
                <div class="space-10"></div>
                <h1>Frequently Asked Questions </h1>
            </div>
            <div class="space-30"></div>
        </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <div class="faq-list">
                    <ul class="nav nav-pills" id="pills-tab" >
                        <li class="fag-text"><a class="active" data-toggle="pill" href="#one">General Questions</a></li>
                        <li class="fag-text"><a data-toggle="pill" href="#two">About us</a></li>
                        <li class="fag-text"><a data-toggle="pill" href="#four">Cryptocurrency</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="space-50"></div>
    </div>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="one" role="tabpanel">
                <div class="container">
                    <div class="row">
                        <div class="col-10 offset-1">
                            <div class="faq-collups">
                                <div id="accordion">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="true">
                                            <h6>What is Bitcoin?</h6>
                                            </button>
                                            </h5>
                                        </div>

                                        <div id="collapse1" class="collapse show" data-parent="#accordion">
                                        <div class="card-body">
                                        <p>
                                            Bitcoin is a type of cryptocurrency. It’s also an asset and a payment platform with a digital 
                                            ledger that spans the world, combining global transactions onto a single system. It introduced blockchain technology. 
                                            It allows people without bank accounts to make transactions. In countries with hyperinflation, Bitcoin has become a viable payment method.
                                            Bitcoin can also move fluidly across borders without intermediaries. Unlike fiat currency that needs to get converted from
                                            USD to euros to yen, Bitcoin is just Bitcoin. Someone in Kansas City can send Bitcoin to someone in Phuket, like someone in London can email
                                            someone in Buenos Aires. If paper money is a CD, Bitcoin is an MP3. Bitcoin is also good at moving huge lump sums for big expensive assets, 
                                            which is why wealthy investors use it to buy homes, yachts and Lamborghinis.
                                        </p>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false">
                                            <h6>What is blockchain ?</h6>
                                            </button>
                                            </h5>
                                        </div>

                                        <div id="collapse2" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                        <p>
                                            Blockchain is a new technology with far-reaching applications that can annihilate banking services, if not banks
                                            altogether, and redesign transactions across a multitude of businesses and industries. It is a digital ledger that 
                                            records transactions publicly or privately, and sequentially. It can facilitate peer-to-peer transactions, eliminating
                                            or reducing the need for middlemen. Through encryption and decentralization, blockchain creates trust. With Bitcoin’s blockchain,
                                            anyone can see all transactions.
                                        </p>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="false">
                                            <h6>How does blockchain work?</h6>
                                            </button>
                                            </h5>
                                        </div>

                                        <div id="collapse3" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                        <p> 
                                            Blockchain and how it works defines how Bitcoin works. It is a digital ledger that stores every single transaction. 
                                            If I sell a pair of shoes to you for $10, that transaction can be engraved on a digital ledger that is immutable.
                                            The ledger is not owned by a bank or any centralized database. It is decentralized, which means it is hosted by a network
                                            of computers across the world. Some of the computers belong to large groups and some of the computers belong to individuals.
                                        </p>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse4" aria-expanded="false">
                                            <h6>What’s a Bitcoin address ?</h6>
                                            </button>
                                            </h5>
                                        </div>

                                        <div id="collapse4" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                        <p>
                                            A Bitcoin address is a digital string of numbers and letters you need in order to send and receive Bitcoin.
                                            They usually contain 26 characters. Your friend can have a different Bitcoin address. When your friend tells you their 
                                            Bitcoin address, you can send them Bitcoin.
                                        </p>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="two" role="tabpanel">
                <div class="container">
                    <div class="row">
                        <div class="col-10 offset-1">
                            <div class="faq-collups">
                                <div id="parrent2">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse5" aria-expanded="true">
                                            <h6>what is liteXBT known for?</h6>
                                            </button>
                                            </h5>
                                        </div>

                                        <div id="collapse5" class="collapse show" data-parent="#parrent2">
                                        <div class="card-body">
                                        <p>
                                            We specializies in trading Bitcoin for our clients, in the forex market.
                                            Deposits are made using our wallet address, and then we take up the trading process for you. So easy, while you seat back, relax and enjoy watch your investment grow.
                                        </p>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse6" aria-expanded="false">
                                            <h6>The risks of investing with us?</h6>
                                            </button>
                                            </h5>
                                        </div>
                                        <div id="collapse6" class="collapse" data-parent="#parrent2">
                                        <div class="card-body">
                                        <p>
                                            With our expert trade brokers with many years in the industry, we guarantee minimal 
                                            rise free trading. We take advantage of the high
                                            volatile nature of cryptocurrencies to provide our clients with optimal returns.
                                        </p>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse7" aria-expanded="false">
                                            <h6>How to run an investment ?</h6>
                                            </button>
                                            </h5>
                                        </div>

                                        <div id="collapse7" class="collapse" data-parent="#parrent2">
                                        <div class="card-body">
                                        <p>
                                            Start by signing up if you are not yet registered.<br>
                                            Then choose the price plan that suits you, next login to your account dashboard to make deposit to our wallet address 
                                            and other neccessary processes that follows, our agents are always there to help you with any problem, 
                                            Use the chat button on the bottom right to talk to them.
                                        </p>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse8" aria-expanded="false">
                                            <h6>can i get payed for investing ?</h6>
                                            </button>
                                            </h5>
                                        </div>

                                        <div id="collapse8" class="collapse" data-parent="#parrent2">
                                        <div class="card-body">
                                        <p>
                                            All our clients are payed, what's due them immediately they request for withdrawal,
                                            and their funds are sent to them in the possible time possible.
                                        </p>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="four" role="tabpanel">
                <div class="container">
                    <div class="row">
                        <div class="col-10 offset-1">
                            <div class="faq-collups">
                                <div id="parrent4">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse13" aria-expanded="true">
                                            <h6>Why should I get involved in cryptocurrency?</h6>
                                            </button>
                                            </h5>
                                        </div>

                                        <div id="collapse13" class="collapse show"  data-parent="#parrent4">
                                        <div class="card-body">
                                        <p>
                                            Because most people believed that it is profitable. Anyone has the option to invest into them. 
                                            The expanding ecosystem provide a multiple opportunities on the possibility of doubling or even more your current assets.
                                            What was more convincing was that, cryptocurrency value are evaluated constantly and then re-evaluated as more people join
                                            the network. At beginning, cryptocurrency revolution was at 100$ initial investment that could brought hundreds or even thousand
                                            profits. Till date, this kind of opportunity is still available.
                                        </p>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse14" aria-expanded="false">
                                            <h6>Can Cryptocurrency be transfered between countries?</h6>
                                            </button>
                                            </h5>
                                        </div>

                                        <div id="collapse14" class="collapse" data-parent="#parrent4">
                                        <div class="card-body">
                                        <p>
                                            As what we keep saying, cryptocurrency is a decentralized payment system in which it allows its user to
                                            exchange even without the help of internet or the involvement of a financial institution. 
                                            It has a superb authentication system and unique design to send payment at almost instant at
                                            the lowest cost anywhere in the world. Therefore, the answer the question is obviously yes!
                                            Sending via cryptocurrency is simple yet fast, just log in on your wallet on the computer with internet
                                            connection and immediately send funds to someone that you want to send. Every account has no geographical
                                            borders and does not take country regulations, shall we say this is the easiest way to move your asset around the globe.
                                            One’s a transaction is over, the receiver can check his/her wallet and go with another transaction.
                                            When transaction is completed, it would only take 3 seconds to 50 minutes and the coins will be received. 
                                            It only need at least 6 confirmation before the transaction will be process. Fast and simple right?
                                            The transaction cost is also low to around 0.30% fee.
                                        </p>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse15" aria-expanded="false">
                                            <h6>What determines bitcoin’s price?</h6>
                                            </button>
                                            </h5>
                                        </div>

                                        <div id="collapse15" class="collapse" data-parent="#parrent4">
                                        <div class="card-body">
                                        <p>
                                            The price of a bitcoin is determined by supply and demand. When demand for bitcoins increases, the price increases, 
                                            and when demand falls, the price falls. There is only a limited number of bitcoins in circulation and new bitcoins are 
                                            created at a predictable and decreasing rate, which means that demand must follow this level of inflation to keep the 
                                            price stable. Because Bitcoin is still a relatively small market compared to what it could be, it doesn't take significant 
                                            amounts of money to move the market price up or down, and thus the price of a bitcoin is still very volatile.
                                        </p>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse16" aria-expanded="false">
                                            <h6>How does Bitcoin work?</h6>
                                            </button>
                                            </h5>
                                        </div>

                                        <div id="collapse16" class="collapse" data-parent="#parrent4">
                                        <div class="card-body">
                                        <p>
                                            From a user perspective, Bitcoin is nothing more than a mobile app or computer program that provides a personal
                                            Bitcoin wallet and allows a user to send and receive bitcoins with them. This is how Bitcoin works for most users.
                                            Behind the scenes, the Bitcoin network is sharing a public ledger called the "block chain". This ledger contains every
                                            transaction ever processed, allowing a user's computer to verify the validity of each transaction. 
                                            The authenticity of each transaction is protected by digital signatures corresponding to the sending addresses,
                                            allowing all users to have full control over sending bitcoins from their own Bitcoin addresses. In addition,
                                            anyone can process transactions using the computing power of specialized hardware and earn a reward in bitcoins for this service. 
                                            This is often called "mining". 
                                        </p>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>