{% load static %}


<div class="space-60"></div>
<section id="Features" class="service wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-4 col-sm-2 text-center">
        <h4 class="section-heading">Added Benefits we offer</h4>
        <h4 class="section-heading"></h4>
      <div class="divider divider-default"></div>
      </div>
    </div>
    </div>
    <div class="container">
      <div class="row ">
          <div class="col-lg-2 col-md-3 col-sm-2 text-center">
          <div class="service-box mt-5 mx-auto">
              <i class="mb-3 sr-icon-1"><img src="{% static 'img/sup-img/shield.png' %}" alt="" ></i>
              <h6 class="mb-3 ">Security of Funds</h6>
              <p class="text-muted mb-0">
                Deposits are secured with the best tech system  to ensure smooth transactions
              </p>
          </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-2 text-center">
          <div class="service-box mt-5 mx-auto">
              <i class="mb-3 sr-icon-2"><img src="{% static 'img/trophy.png' %}" alt="trophy" style="width:360%;" ></i>
              <h6 class="mb-3 ">High Growth Posibility</h6>
              <p class="text-muted mb-0">Fast execution and low spreads enhance your trading experience</p>
          </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-2 text-center">
          <div class="service-box mt-5 mx-auto">
              <i class="mb-3 sr-icon-3"><img src="{% static 'img/piechart.png' %}" alt=""></i>
              <h6 class="mb-3 ">Quick Withdraw & Deposit</h6>
              <p class="text-muted mb-0">We give you quick access to transactions</p>
          </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-2 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class=" mb-3 sr-icon-4"><img src="{% static 'img/sup-img/locker.png' %}" alt=""></i>
              <h6 class="mb-3 ">Client commitment</h6>
              <p class="text-muted mb-0">Client data is never shared with any 3rd party</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-2 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class=" mb-3 sr-icon-4"><img src="{% static 'img/sup-img/rocket.png' %}" alt=""></i>
              <h6 class="mb-3 ">Lightning Fast Trading</h6>
              <p class="text-muted mb-0">Take advantage of ultra fast STP execution speeds</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-2 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class=" mb-3 sr-icon-4"><img src="{% static 'img/sup-img/target.png' %}" alt=""></i>
              <h6 class="mb-4 ">Accurate Data Report</h6>
              <p class="text-muted mb-0">Tested and qualified for our skilled team.</p>
            </div>
          </div>
      </div>
  <div class="space-60"></div>
    