{% load static %}

<div class="footera-area section-padding wow fadeInDown" style="background-image: url({% static 'img/group1.png' %})" >
    <div class="container" >
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4" >
                <div class="single-footer">
                    <div class="logo-area footer" >
                        <a href="{% url 'index' %}"><b style="font-size:25px">swiftxbt.com</b></a>
                    </div>
                    <div class="space-10"></div>
                    <p style='font-size:13px'>
                        swiftxbt™ financial investments Limited is a registered company (registration number 63888) and regulated in accordiance
                        with the Business Corporation Act. The company is situated at...<br>
                        We are registered as a cyprus investment Firm (CIF) with the registration number HE230122 and registered by the Securities and Exchange Commission (CySEC) under licence number 093/08 in accordiance with Markets in financial Investments Directive (MiFID).
                        All retail clients funds are  insured by the investor Compensation Funds (subject of eligibility).
                    </p>
                    <div class="space-6"></div>
                    <small style='font-size:9px;color:#011'><b class="text-danger">warning:</b> trading involves significant risk and can result in the loss of your invested capital. You should not 
                        invest more than you can afford to lose  and should  ensure that you understand fully the risk involved. But again risk is 
                        a part of life, no pain no gain. Happy trading. --REGARDS--...
                    </small><br>
                    <p>
                      Copyright &copy;<script>document.write(new Date().getFullYear());
                      </script> All rights reserved | swiftxbt® financial investments company.
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-2">
                <div class="single-footer" style="font-size:19px">
                    <ul>
                        <li class="fa fa-phone text-info"> +1 (44)289236</li><br>
                        <li class="fa fa-map-marker">address</li><br>
                        <li class="fa fa-"></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-footer">
                    <p>get 24/7 feed back. our agents are ready to answer any question you may have. </p>
                </div>
            </div>
        </div>
    </div>
</div>