{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--<title>Crypo</title>-->
  <title>swiftxbt | userDashBoard ~ Bitcoin-forex trade &amp; investment services</title>
  <!--<link rel="icon" href=" {% static 'images/p-img/favicon.png' %} " type="image/x-icon">-->
  <link rel="stylesheet" href=" {% static 'css/panel-css/style.css' %} ">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %} ">
  <link rel="stylesheet" href="{% static 'css/preloader/preloader.css' %} ">
  <script src=" {% static 'jS/preloader/div.js' %} "></script>
  <script src=" {% static 'jS/preloader/preloader.js' %} "></script>

  <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">

  <script type="text/javascript">
    function googleTranslateElementInit()
    {
      new google.translate.TranslateElement({pageLanguage: 'en'},
       'google_translate_element');
    }
    </script>
  <script type="text/javascript"
    src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
  </script>
    
    <script src="//code.tidio.co/kgnojdtq9lsvwocj6nizw5n56fqw5l0q.js" async></script>
    
    
  
</head>
