{% load static %}

<div class="single-about-area wow fadeInUp" id="about">
    <div class="heading">
        <center><h4>About Us </h4></center>
        <hr style="width:8%;border:1px solid red">
    </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <a href="" class="single-about">
                        <div class="single-about-img">
                            <img src="{% static 'img/about-icon-1.png' %} " alt="">
                        </div>
                        <div class="single-about-text">
                            <h4>Creating Opportunities</h4>
                            <p>
                                We provide you with the Opportunity of a life time, to follow 
                                the trend of the crypto currency World as it is becoming the new Gold rush
                                of the century. Why not you invest with us?
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="#" class="single-about">
                        <div class="single-about-img">
                            <img src="{% static 'img/about-icon-2.png' %} " alt="">
                        </div>
                        <div class="single-about-text">
                            <h4>Vetted Bitcoin traders</h4>
                            <p>
                                Our main focus is trading your assets in <b class="text-info">Bitcoin</b>
                                in the ever busy world of forex, other crypto currency<b class="text-danger"> coming soon</b>.
                                We focus all attention to trading Bitcoin.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="#" class="single-about">
                        <div class="single-about-img">
                            <img src="{% static 'img/about-icon-3.png' %} " alt="">
                        </div>
                        <div class="single-about-text">
                            <h4>Guaranteed Profit Ways</h4>
                            <p>
                                Though Bitcoin and other crypto currency can have its
                                up and down twrists, we at LiteXBT we take advantage of
                                every changes that occurs and leverage on it to ensure prpfit returns for our clients.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="space-90"></div>
    </div>