{% load static %}

<div class="roadmap-area section-padding wow fadeInUp" id="roadmap">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="heading">
                    <h5>Steps & guard</h5>
                    <div class="space-10"></div>
                    <h1>Roadmap To Follow</h1>
                </div>
                <div class="space-60 d-none d-sm-block"></div>
            </div>
        </div>
        
    </div>
    <div class="container">
        <div class="roadmap-carousel owl-carousel">
            <div class="roadmap-item">
                <div class="single-roadmap text-center road-left">
                    <div class="single-roadmap-img">
                        <img src="{% static 'img/roadmap-1.png' %} " alt="">
                    </div>
                    <div class="space-30"></div>
                    <div class="roadmap-text">
                        <p>process 1</p>
                        <div class="space-10"></div>
                        <h5>1. SignUp to become a User</h5>
                        <p>First thing to do is to signUp if you are not yet a user, click a signup button
                        to start a signUp process </p>
                    </div>
                </div>
            </div>
            <div class="roadmap-item align-self-center">
                <div class="single-roadmap road-right">
                    <div class="row">
                        <div class="col-5 align-self-center">
                            <div class="single-roadmap-img">
                                <img src="{% static 'img/roadmap-2.png' %} " alt="">
                            </div>
                        </div>
                        <div class="col-7" >
                            <div class="roadmap-text">
                                <p>process 2</p>
                                <h5>Choose from our variety of plans  </h5>
                                <p>We provide different price plans, So Choose the one that best fit you.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="roadmap-item">
                <div class="single-roadmap text-center road-left">
                    <div class="single-roadmap-img">
                        <img src="{% static 'img/roadmap-4.png' %} " alt="">
                    </div>
                    <div class="space-30"></div>
                    <div class="roadmap-text">
                        <p>process 3</p>
                        <div class="space-10"></div>
                        <h5>Make Deposit</h5>
                        <p>
                            Buy Bitcoin at your end then transfer to activate your liteXBT account. Deposits can be done using a wallet address. Use our wallet address to transfer Bitcoin to begin.
                        </p>
                    </div>
                </div>
            </div>
            <div class="roadmap-item align-self-center">
                <div class="single-roadmap road-right">
                    <div class="row">
                        <div class="col-5">
                            <div class="single-roadmap-img">
                                <img src="{% static 'img/roadmap-5.png' %} " alt="">
                            </div>
                    
                        </div>
                        <div class="col-7">
                            <div class="roadmap-text">
                                <p>process 4</p>
                                <h5>Verify Your account</h5>
                                <p>
                                    Verify your account so that you can enjoy full privilage of the platform.
                                    provide any means of identification like your ID, Passport, Drivers Licence etc.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="roadmap-item">
                <div class="single-roadmap text-center road-left">
                    <div class="single-roadmap-img">
                        <img src="{% static 'img/roadmap-4.png' %} " alt="">
                    </div>
                    <div class="space-30"></div>
                    <div class="roadmap-text">
                        <p>process 5</p>
                        <div class="space-10"></div>
                        <h5>Monitor the growth of your wallet amount</h5>
                        <p>
                            While we do the trading you watch to see your investments grow up the chart, and your profits increase.
                        </p>
                    </div>
                </div>
            </div>
            <div class="roadmap-item align-self-center">
                <div class="single-roadmap road-right">
                    <div class="row">
                        <div class="col-5 align-self-center">
                            <div class="single-roadmap-img">
                                <img src="{% static 'img/roadmap-5.png' %} " alt="">
                            </div>
                    
                        </div>
                        <div class="col-7">
                            <div class="roadmap-text">
                                <p>process 6</p>
                                <h5>Withdrawal</h5>
                                <p>
                                    When your assets is matured ready for Withdrawal, you can initialize Withdrawal using a wallet address.

                                    At every process always contact an agent for guardiance and help. Regards---
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>